@media only screen and (max-width :36.5rem){



h1{	

	font-size:1.3rem;	
	padding:0.5rem 0;	
}


.bloc-city{
	
	margin:0 auto 0.3rem 8%;
	
}




.write h3,.write p,.write a {

	color:white;
}
.sect4
{
	background-image:url(../background/bg66.gif);
}


}















