{% extends "WABlogBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
    - Accueil
{% endblock  %}

{%  block contents %}
    <h2>Vous etes sur la page d accueil de la 27me compagnie !  </h2>

{% endblock %}

