a
{
	color:green;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
	background:red;
}

a:hover
{
	color:blue;
	border:dotted 0.5rem yellow;
}

img
{
	opacity:0.5;
	box-shadow:1rem 0.5rem 1rem 1rem rgba(0 0 0 0.5);
	height:20%;
	width:20%;
	border-radius: 1rem 3rem 5rem ;
}

img:hover
{
	opacity:1;
}




