html
{
	height:100%;
}

body
{
	background:
		pink 
		url(../img/titi3.jpg)
		no-repeat
		center 
		center
		fixed
	;
	height:100%;
	background-size:60% 50%;	

}

#bloc
{
	height:20%;
	width:50%;
	background:url(../img/titi5.jpg);
	border:solid 3rem rgba(0,127,255, 0.3);
	background-clip: content-box padding-box;
	padding:2rem;
}